@charset "UTF-8";
h1 {
    color:darkblue
}

table {
   border: 1px solid grey;
}
/* границы ячеек первого ряда таблицы */
th {
   padding: 10px;
   border: 1px solid grey;
}
/* границы ячеек тела таблицы */
td {
   padding: 10px;
   border: 1px solid grey;
}
